/src/
/mp3/
/wav/
/train.txt
/val.txt
/all.txt
/beginning-cherokee.txt
/mp3-aligned/
/aeneas.txt
/mp3-long/
/aeneas.txt
beginning-cherokee-longer-sequences.txt
/see-say-write.txt
/mp3-selected/
/SeeSayWrite.pdf
